# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Build directories
target/        # Maven
build/         # Gradle

# Compiled Java class files
*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
